body {
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  object-fit: none;
}

.invisible {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 17px;
}

.image-info {
  margin: 0 40px;
  margin-top: 0px;
  background-image: url(../images/pattern-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 80%;
  margin-top: 34px;
  border-radius: 10px;
  box-shadow: 0px 35px 30px 0px #41404015;
}

.button-container {
  height: 43px;
  background: white;
  margin-top: -7%;
  padding: 0px;
  width: 28%;
  border-radius: 21px;
  display: flex;
}

.button_slide {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.button_slide .img1, .img2 {
  width: 37%;
}

.text-info {
  background-image: url(../images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 18%;
  color: hsl(240, 38%, 20%);
  padding: 23px;
  margin-top: 30px;
  text-align: center;
}

.text-info p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 100;
  margin-top: 10px;
}

.text-info h1 {
  font-size: 16px;
  font-weight: 650;
  margin: 0px;
}

.text-info h2 {
  font-size: 16px;
  margin-top: 3px;
  font-weight: 150;
  color: hsl(240, 18%, 77%);
}

@media screen and (device-width: 1280px) {
  #sidebar {
    display: none;
  }
  #menu {
    text-align: center;
  }
  body {
    background-size: auto;
  }
  .container {
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .text-info {
    width: 500px;
    text-align: left;
    padding-top: 40px;
    padding-left: 90px;
  }
  .text-info p {
    width: 670px;
    font-size: 30px;
  }
  .text-info h1 {
    font-size: 18px;
    display: inline;
  }
  .text-info h2 {
    font-size: 18px;
    display: inline;
  }
  .image-info {
    width: 55%;
    margin-top: 15px;
    background-size: 100%;
    padding: 25px;
  }
  .image {
    height: 100%;
    width: 85%;
  }
  .button-container {
    border-radius: 30px;
    margin-left: -50%;
    margin-top: -30px;
    width: 17%;
    height: 47px;
  }
  .button_slide .img1, .img2 {
    width: 28%;
  }
}

@media screen and (device-width: 1024px) {
  #sidebar {
    display: none;
  }
  #menu {
    text-align: center;
  }
  body {
    background-size: auto;
    background-position: bottom left;
  }
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .text-info {
    width: 470px;
    text-align: left;
    padding-top: 40px;
    padding-left: 50px;
  }
  .text-info p {
    width: 670px;
    font-size: 25px;
  }
  .text-info h1 {
    font-size: 18px;
    display: inline;
  }
  .text-info h2 {
    font-size: 18px;
    display: inline;
  }
  .image-info {
    width: 55%;
    background-size: 100%;
    padding: 25px;
  }
  .image {
    height: 100%;
    width: 85%;
  }
  .button-container {
    border-radius: 30px;
    margin-left: -50%;
    margin-top: -30px;
    width: 27%;
    height: 42px;
  }
  .button_slide .img1, .img2 {
    width: 29%;
  }
}

@media screen and (device-width: 768px) {
  #sidebar {
    display: none;
  }
  #menu {
    text-align: center;
  }
  body {
    background-size: auto;
  }
  .image-info {
    padding: 10px;
    margin-top: 70px;
    background-image: url(../images/pattern-bg.svg);
    background-size: 70%;
  }
  .image {
    width: 58%;
    margin-top: 34px;
  }
  .button-container {
    height: 70px;
    width: 21%;
    border-radius: 43px;
  }
  .button_slide .img1, .img2 {
    width: 25%;
  }
  .text-info {
    background-size: 13%;
    padding: 80px;
    margin-top: 30px;
  }
  .text-info p {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 100;
    margin-top: -20px;
  }
  .text-info h1 {
    font-size: 24px;
  }
  .text-info h2 {
    font-size: 24px;
  }
}

@media screen and (device-width: 411px) and (device-height: 823px) {
  #sidebar {
    display: none;
  }
  #menu {
    text-align: center;
  }
  .image-info {
    padding: 10px;
    margin-top: 30px;
    background-image: url(../images/pattern-bg.svg);
    background-size: 90%;
  }
  .image {
    width: 78%;
    margin-top: 3px;
  }
  .button-container {
    height: 50px;
    width: 29%;
    border-radius: 43px;
  }
  .button_slide .img1, .img2 {
    width: 26%;
  }
  .text-info {
    background-size: 16%;
    padding: 60px;
    margin-top: 30px;
  }
  .text-info p {
    margin-bottom: 30px;
    font-size: 19px;
    margin-top: -20px;
  }
  .text-info h1 {
    font-size: 18px;
  }
  .text-info h2 {
    font-size: 18px;
  }
}

@media screen and (device-width: 375px) and (device-height: 812px) {
  #sidebar {
    display: none;
  }
  #menu {
    text-align: center;
  }
  .image-info {
    padding: 14px;
    margin-top: 30px;
  }
  .image {
    width: 87%;
    margin-top: 14px;
  }
  .button-container {
    height: 41px;
    width: 29%;
  }
  .button_slide .img1, .img2 {
    width: 32%;
  }
  .text-info {
    margin-top: 40px;
  }
  .text-info p {
    margin-bottom: 25px;
    font-size: 22px;
    margin-top: 10px;
  }
  .text-info h1 {
    font-size: 19px;
  }
  .text-info h2 {
    font-size: 19px;
  }
}

@media screen and (device-width: 320px) and (device-height: 568px) {
  #sidebar {
    display: none;
  }
  #menu {
    text-align: center;
  }
  .image-info {
    padding: 10px;
    margin-top: 0px;
    background-image: url(../images/pattern-bg.svg);
    background-size: 100%;
  }
  .image {
    width: 90%;
    margin-top: 39px;
  }
  .button-container {
    height: 35px;
    width: 29%;
    border-radius: 43px;
  }
  .button_slide .img1, .img2 {
    width: 32%;
  }
  .text-info {
    margin-top: 10px;
  }
  .text-info p {
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 10px;
  }
  .text-info h1 {
    font-size: 14px;
  }
  .text-info h2 {
    font-size: 14px;
  }
}